body{
  margin: 0;
  text-align:  center;
  font-family: 'Merriweather', serif;
}
div {

  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  }

h1{
  color: #66BFBF;
  line-height: 2;
  font-size: 6.25rem;
  margin:65px auto 0 auto;
  font-family: 'Sacramento', cursive;
}

h2{
  color: #66BFBF;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5rem;
  font-weight: normal;
}

h3{

  color : #11999E;
  font-family: 'Montserrat', sans-serif;
  display: inline-block;
}

td{
  margin-left: 20px;
}
hr{
  border-style: dotted;
  border-width: 6px;
  border-color: #EAF6F6;
  border-bottom: none;
  width: 6%;
  margin: 100px auto;
}
.top_container{
  background-color: #E4F9F5;
  position: relative;
  padding-top: 100px;
}
/*
.middle-container{
  background-color: #E4F9F5;
}
*/
.bottom-container{

  background-color: #66BFBF;
}
.footer-link{
  color: #11999E;
  text-decoration: none;
  margin-right: 25px;
}
.footer-link:hover{
  color: white;
}
.pro {
  text-decoration: underline;
}
.section-divider{
  color: #EAF6F6;
}
.bottom-cloud{
  position: absolute;
  left: 300px;
  bottom: 300px;

}

.top-cloud{
  position: absolute;
  right: 300px;
  top: 50px;
}
.skills-icons{
  margin-right: 30px;
  float: left;
  width:25%;
  height: 25%;
  border-radius: 100%;
  display: inline-block;

}
.paragraphs{
  margin-left: 275px;
}
.skills-icons-left{
  margin-left: 30px;
  float: right;
  width:25%;
  height: 25%;
  border-radius: 100%;
  display: inline-block;
}
.skill-row{
  line-height: 2;
  text-align: left;
  margin:auto;
  width : 50%;
}

.intro-para{
  color: #40514E;
}
.cpright{
  color: #EAF6F6;
}
.contact-me{
  margin-left: 40px auto 60px;
}
.btn {
  margin-bottom: 45px;
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

}
.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}
